
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: theme('colors.gray.400');
}

::-webkit-scrollbar-thumb:hover {
    background: theme('colors.gray.500');
}

::-webkit-scrollbar-track {
    background: theme('colors.gray.300');
}

.dark {
    ::-webkit-scrollbar-thumb {
        background: theme('colors.gray.600');
    }

    ::-webkit-scrollbar-thumb:hover {
        background: theme('colors.gray.700');
    }

    ::-webkit-scrollbar-track {
        background: theme('colors.gray.800');
    }
}

.scrollbar-thin {
    /*scrollbar-width: thin;*/
    /*--w: 25%;*/
    /*--hover: theme('colors.gray.400');*/
    /*--from: theme('colors.gray.200');*/
    /*--to: theme('colors.gray.300');*/

}

.scrollbar-thin::-webkit-scrollbar {
    width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #ffffff00 0%, #ffffff00 25%, theme('colors.gray.200') 25%, theme('colors.gray.200') 100%);
}
.dark .scrollbar-thin::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #ffffff00 0%, #ffffff00 25%, theme('colors.gray.800') 25%, theme('colors.gray.800') 100%) !important;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #ffffff00 0%, #ffffff00 25%, theme('colors.gray.300') 25%, theme('colors.gray.300') 100%);
}
.dark .scrollbar-thin::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #ffffff00 0%, #ffffff00 25%, theme('colors.gray.700') 25%, theme('colors.gray.700') 100%) !important;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: theme('colors.gray.400') 25%;
}

.dark .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: theme('colors.gray.500') 25%;
}

.scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}